<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Crear producto'}) %>   <!--// partial Head //-->
    <body>
        
        <%- include('../partials/header') %>   <!--// partial Header //-->
        
        <main class="registermain">
    
            <section class= "formulario-upload">
               
                <h1 class="h1-size marg-0 centrar">Nuevo artículo</h1>
                <form action="/producto/crear" method="POST" enctype="multipart/form-data">    <!--// Formulario Nuevo Artículo //-->
                    
                    <label for="nombreArticulo"></label>    <!--// Nombre //-->
                    <p><input type="text" name="name" id="nombreArticulo" placeholder="Nombre del modelo"></p>

                    <!--agregar un select con un for para seleccionar el nombre-->
                    
                    <p>
                        <label for="categoriaArticulo">Categoría del artículo: </label> <!--// Categoria //-->
                        <select name="category"> 
                            <option value="selecciona"  selected disabled>Selecciona...</option>
                            <option value="1">Casual</option> 
                            <option value="2">Fiesta</option>
                            <option value="3">Sale</option>
                        </select>
                    </p>
                   
                    <p>
                        <label for="tipoArticulo">Tipo de artículo:  </label> <!--// Tipo //-->
                        <select name="type">
                            
                            <% for (type of types) { %>
                                <% if (type.name == product.type.name) { %>
                                    <option value="<%= type.id %>" selected><%= type.name %></option>
                                <% } else { %>
                                    <option value="<%= size.id %>"><%= size.name %></option>
                                <% } %>
                            <% } %> 
                        </select>
                    </p>
                    
                    <p>
                        <label for="talleArticulo">Talle de artículo:  </label> <!--// Talle //-->
                        <select name="size">
                            <% for (size of sizes) { %>
                                <% if (size.number == product.size.number) { %>
                                    <option value="<%= size.id %>" selected><%= size.name %></option>
                                <% } else { %>
                                    <option value="<%= size.id %>"><%= size.number %></option>
                                <% } %>
                            <% } %> 
                        </select>
                    </p>

                    <p>
                        <label for="colorArticulo">Color del artículo: </label> <!--// Color //-->
                        <select name="color">
                            <% for (color of colors) { %>
                                <% if (color.name == product.color.name) { %>
                                    <option value="<%= color.id %>" selected><%= color.name %></option>
                                <% } else { %>
                                    <option value="<%= color.id %>"><%= color.name %></option>
                                <% } %>
                            <% } %> 
                        </select>
                    </p>

                    <!--ponga un numero de stock-->
                    <label for="stock">Stock:</label>    <!--// Descripción //-->
                    <p><input type="text" name="stock" id="stockArticulo" placeholder="20"></p>

                    
                    <!--agregar un select con un for para seleccionar la descripcion-->
                    <label for="descripcArticulo">Descripcion del producto:</label>    <!--// Descripción //-->
                    <p><textarea name="description" id="descripcArticulo" cols="56" rows="5" placeholder="Lorem ipsum dolor sit amet consectetur, adipiscing elit volutpat netus inceptos, est parturient ut penatibus. Ac sagittis at sociosqu imperdiet venenatis lacinia ante dictum sodales blandit vivamus, scelerisque neque ornare tempus aliquet suspendisse conubia pharetra duis inceptos"></textarea></p>


                    <!--agregar un select con un for para seleccionar la imagen-->
                    <p>    <!--// Imagen //-->
                        <input type="file" name="imagenArticulo" accept="image/png, .jpeg, .jpg, image/gif"> 
                        <input type="submit" value="Subir Imagen">  
                    </p>
                    <p>

                        <label for="discount">Descuento: </label> <!--// discount //-->
                        <select name="discount">
                            <% for (color of colors) { %>
                                <% if (color.name == product.color.name) { %>
                                    <option value="<%= color.id %>" selected><%= color.name %></option>
                                <% } else { %>
                                    <option value="<%= color.id %>"><%= color.name %></option>
                                <% } %>
                            <% } %> 
                        </select>

                        <label for="discount">Descuento:</label>    <!--// El Discount //-->
                        <select name="discount">   
                            <option value="1" selected disabled>0%</option>
                            <option value="2">10%</option>
                            <option value="3">15%</option> 
                            <option value="4">20%</option>
                            <option value="5">25%</option>
                            <option value="6">30%</option>
                            <option value="7">40%</option>
                            <option value="8">50%</option>
                            <option value="9">60%</option>
                            <option value="10">70%</option>
                            <option value="11">75%</option>
                        </select>
                    </p>
                    
                    <label for="precioArticulo">Precio:</label>    <!--// Precio //-->
                    <p><input type="text" name="price" id="precioArticulo" placeholder="$2.000"></p>    

                    <button type="submit">Crear artículo</button>    <!--// Botón Crear //-->

                </form>
    
            </section>
    
        </main>
        
        <%- include('../partials/footer') %>   <!--// partial Footer //-->
        
    </body>
</html>