<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Crear producto'}) %>   <!--// partial Head //-->
    <body>
        
        <%- include('../partials/header') %>   <!--// partial Header //-->
        
        <main class="registermain">
    
            <section class= "formulario-upload">
               
                <h1 class="h1-size marg-0 centrar">Nuevo artículo</h1>
                <form action="/producto/crear" method="POST" enctype="multipart/form-data">    <!--// Formulario Nuevo Artículo //-->
                    
                    <label for="model"></label>    <!--// Nombre //-->
                    <p><input type="text" name="model" id="model" placeholder="Nombre del modelo"></p>

                    <p>
                        <label for="category">Categoría del artículo : </label> <!--// Categoria//-->
                        <select name="category">
                            <% for (category of categories) { %>
                                <option value="<%= category.id %>"><%= category.name %></option>
                            <% } %> 
                        </select>
                    </p>
                   
                    <p>
                        <label for="type">Tipo de artículo : </label> <!--// Tipo //-->
                        <select name="type">
                            <% for (type of types) { %>
                                <option value="<%= type.id %>"><%= type.name %></option>
                            <% } %> 
                        </select>
                    </p>
                    
                    <p>
                        <label for="size">Talle de artículo : </label> <!--// Talle //-->
                        <select name="size">
                            <% for (size of sizes) { %>
                                <option value="<%= size.id %>"><%= size.number %></option>
                            <% } %> 
                        </select>
                    </p>

                    <p>
                        <label for="color">Color del artículo : </label> <!--// Color //-->
                        <select name="color">
                            <% for (color of colors) { %>
                                
                                    <option value="<%= color.id %>"><%= color.name %></option>
                                
                            <% } %> 
                        </select>
                    </p>

                    <label for="description">Descripción del artículo : </label>    <!--// Descripción //-->
                    <p><textarea name="description" id="description" cols="53" rows="5" placeholder="Ingrese una breve descripción del artículo..."></textarea></p>

                    <p>    <!--// Imagen //-->
                        <input type="file" name="image" accept="image/png, .jpeg, .jpg, image/gif"> 
                        <input type="submit" value="Subir Imagen">  
                    </p>
              
                    <label for="stock">Stock : </label>    <!--// Descripción //-->
                    <p><input type="number" name="stock" id="stock" placeholder="0"></p>

                    <p>
                        <label for="discount">Descuento : </label> <!--// discount //-->
                        <select name="discount">
                            <% for (discount of discounts) { %>
                                <option value="<%= discount.id %>"><%= discount.number %>%</option>
                            <% } %> 
                        </select>
                    </p>
                    
                    <label for="price">Precio : </label>    <!--// Precio //-->
                    <p><input type="text" name="price" id="price" placeholder="$5.000"></p>    

                    <button type="submit">Crear artículo</button>    <!--// Botón Crear //-->

                </form>
    
            </section>
    
        </main>
        
        <%- include('../partials/footer') %>   <!--// partial Footer //-->
        
    </body>
</html>