<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Carrito'}) %>   <!--// partial Head //-->
    <body>
        
        <%- include('../partials/header') %>   <!--// partial Header //-->

        <main class="cart-mainbox">

            

            <% if (purchasedItems && purchasedItems!="") { %>
                <div>   <!--// Box grande //-->
                    <h1>Mis compras</h1>

                    <section>   <!--// Box intermedio //-->
                        <% for (product of purchasedItems) { %>
                            <div class="cart-boxartic col-main">   
                                <article class="new-artic col-artic">
                                    <img src="/img/products/<%= product.image %>" alt="Imagen del artículo" class="cart-img">
                                    <div class="new-subartic">
                                        <p><%= product.name %></p>
                                        <br>
                                        <p><%= product.description %></p>
                                    </div>
                                </article>
                                
                                <div class="cart-boxsubartic col-precio">
                                    <div>   <!--// Precio //-->
                                        <p>$<%= product.subtotal %></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>                 
                    </section>
                </div>
            <% } else { %>
                <div>
                    <div class="justify-center">
                        <img src="/img/imag_empty-cart_2.png" alt="Carrito vacío" class="centrar width-40">
                    </div>
                    <h2 class="centrar padd-70"> No has realizado ninguna compra </h2>
                </div>
            <% } %>
        </main>
        
        <%- include('../partials/footer') %>   <!--// partial Footer //-->

        <script src="/js/scripts.js" type="text/javascript"></script> 

    </body>
</html>