<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: product.model.name}) %>   <!--// partial Head //-->
    <body>
        
        <%- include('../partials/header') %>   <!--// partial Header //-->
        
        <main class="mainUs width-100">
            
            <div class="main-det borde-general ">       
                
                <div class="cen-1">
                    <div class= "">
                            <img class = "aspecto width-100" src="/img/products/<%= product.image.name %>" alt="Imagen del artículo">
                    </div>    
                </div>

                <div class="cen-2 columna margin-auto">   <!--// Descripcion y opciones del artículo //-->
                    <p class="letraGrande"><%= product.model.name %></p>
                    <p class="letra-del-precio">$<%= product.price %></p>
                    
                    <div>
                        <p>Color del producto</p>
                    </div>
                    <div class="sinborde"> <!--// Botón de colores a seleccionar //-->
                        <form action="">
                            <button class="boton1"> </button>
                            <button class="boton2"> </button>
                            <button class="boton3"> </button>
                        </form>
                    </div>
                    
                    <p>Talle del producto</p> <!--// Botón Talles a seleccionar //-->
                    <div class="sinborde">
                        <form action="" class="boton3">
                            <button>35</button>
                            <button>36</button>
                            <button>37</button>
                            <button>38</button>
                            <button>39</button>
                            <button>40</button>
                        </form>
                    </div>
                    <div>  <!--// Descripcion //-->
                        <p class="letra-del-precio">Descripcion</p>
                        <p><%= product.description.text %></p>
                    </div>
                    <div>
                        <p>Cantidad</p>
                    </div>        
                    <div class="main-det columna sinborde">   <!--// Botón cantidad (agregar su propio archivos Js)//-->      
                        <script>
                            a=1;
                        </script>
                        <form action="" method="" >
                            <a href="javascript:a--; update(a);"><i class="fas fa-minus boton4"></i></a> 
                                <input type="text" id="a" size="1" class="centrarletra"/>
                            <a href="javascript:a++; update(a);"><i class="fas fa-plus boton4"></i></a>
                        </form>
                        <script>
                            input_a = document.getElementById('a');
                            function update(){
                                input_a.value=a;
                            }
                            update();
                        </script>
                    </div> 
                            
                    <% if (loggedUser.category == 'admin') { %>
                        <div>   <!--// Botón Editar //-->
                            <form action="" method="GET">
                                <a href="/producto/<%=product.id%>/editar"><button type="button" class="boton5">Editar artículo</button></a>
                            </form>
                        </div>
                        <div class="marg-20"></div>
                        <div>   <!--// Botón Eliminar producto //-->
                            <form action="/producto/<%=product.id%>/eliminar?_method=DELETE" method="POST"> 
                                <button type="submit" class="marg-nonside-10">Eliminar artículo</button> 
                            </form>
                        </div>
                    <% } else {%>
                        <div>   <!--// Botón Comprar //-->
                            <form action="/producto/<%=product.id%>/agregar" method="POST">
                                <button type="submit" class="boton5">Agregar a la bolsa</button>
                            </form>
                        </div>
                    <% } %>
                          
                </div>

            </div> 
    
        </main>
        
        <%- include('../partials/footer') %>   <!--// partial Footer //-->

    </body>
</html>