<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Colección'}) %>   <!--// partial Head //-->
    <body>
        
        <%- include('../partials/header') %>   <!--// partial Header //-->
        
        <div>
            <img class= 'imagenbabieka' src="/img/img_home_1.jpg" alt="img_header">
        </div>
        
        <%- include('../partials/banner') %>   <!--// partial Banner //-->

        <main class="d-flex fd-col">
        
            <h1 class="lk-title-list">COLECCIÓN</h1>
            <h2 class="lk-title-list">Fiesta</h2>
                <div class="lk-mainbox-list">
                    <% for (product of fiestaProducts) { %>
                        <article class="lk-articlebox-list">
                            <a href="/producto/<%= product.id %>">
                                <div class="justify-center opac-img">
                                    <img src="/img/products/<%= product.image %>" alt="imagen de producto">
                                </div>
                                <div class="casual-index">
                                    <p class="marg-0 name-size"><%= product.name %></p>
                                    <p class="marg-0 price-size">$ <%= product.price %></p>
                                    <!-- <span class="marg-0">50 %OFF</span> -->
                                </div>
                            </a>
                        </article>
                    <% } %>
                </div>
                <h2 class="lk-title-list">Casual</h2>
                <div class="lk-mainbox-list">
                    <% for (product of casualProducts) { %>
                        <article class="lk-articlebox-list">
                            <a href="/producto/<%= product.id %>">
                                <div class="justify-center opac-img">
                                    <img src="/img/products/<%= product.image %>" alt="imagen de producto">
                                </div>
                                <div class="casual-index">
                                    <p class="marg-0 name-size"><%= product.name %></p>
                                    <p class="marg-0 price-size">$ <%= product.price %></p>
                                    <!-- <span class="marg-0">50 %OFF</span> -->
                                </div>
                            </a>
                        </article>
                    <% } %>
                </div>
            
        </main>

        <%- include('../partials/footer') %>   <!--// partial Footer //-->

    </body>
</html>