<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Sale'}) %>   <!--// partial Head //-->
    <body>
        
        <%- include('../partials/header') %>   <!--// partial Header //-->
        
        <div>
            <img class= 'imagenbabieka' src="/img/img_home_1.jpg" alt="img_header">
        </div>
        
        <%- include('../partials/banner') %>   <!--// partial Banner //-->

        <main class="d-flex fd-col">
        
            <h1 class="lk-title-list">SALE</h1>
            <div class="lk-mainbox-list">
                <% for (product of saleProducts) { %>
                    <article class="lk-articlebox-list">
                        <a href="/producto/<%= product.id %>">
                            <div class="justify-center opac-img">
                                <img src="/img/products/<%= product.image.name %>" alt="imagen de producto">
                            </div>
                            <div class="casual-index">
                                <p class="marg-0 name-size"><%= product.model.name %></p>
                                <p class="marg-0 price-size tachado">$ <%= product.price %></p>
                                <span class="marg-0"><%= product.discount.number %> %OFF</span>
                                <p class="marg-0 price-size">$ <%= product.price-((product.price*product.discount.number)/100) %></p>
                            </div>
                        </a>
                    </article>
                <% } %>
            </div>
        
        </main>

        <%- include('../partials/footer') %>   <!--// partial Footer //-->

    </body>
</html>