<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Busqueda'}) %>   <!--// partial Head //-->
    <body>
        
        <%- include('../partials/header') %>   <!--// partial Header //-->

        <%- include('../partials/banner') %>   <!--// partial Banner //-->

        <main class="d-flex fd-col">
        
            <h1 class="lk-title-list">ARTICULOS ENCONTRADOS</h1>
            <div class="lk-mainbox-list">
                <% for (product of productFound) { %>
                    <article class="lk-articlebox-list">
                        <a href="/producto/<%= product.id %>">
                            <div class="justify-center opac-img">
                                <img src="/img/products/<%= product.model.image.name %>" alt="imagen de producto">
                            </div>
                            <div class="casual-index">
                                <% if (product.model.category.name == 'Sale') { %>
                                    <p class="marg-0 name-size"><%= product.model.name %></p>
                                    <p class="marg-0 price-size tachado">$ <%= product.price %></p>
                                    <span class="marg-0"><%= product.discount.number %> %OFF</span>
                                    <p class="marg-0 price-size">$ <%= product.price-((product.price*product.discount.number)/100) %></p>
                                <% } else { %>
                                    <p class="marg-nonside-10 name-size"><%= product.model.name %></p>                
                                    <p class="marg-nonside-10 price-size">$ <%= product.price %></p>
                                <% } %>
                            </div>
                        </a>
                    </article>
                <% } %>
            </div>         
            
        </main>

        <%- include('../partials/footer') %>   <!--// partial Footer //-->

    </body>
</html>