<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>   <!--// partial Head //-->
    <body>
        
        <%- include('../partials/header') %>   <!--// partial Header //-->
        
        <main class="registermain">
    
            <section class= "formulario-upload">
               
                <h1 class="h1-size marg-0 centrar">Editar artículo</h1>
                <form action="/producto/<%=producto.id%>/editar?_method=PUT" method="POST" enctype="multipart/form-data">    <!--// Formulario Nuevo Artículo //-->
                    
                    <label for="nombreArticulo"></label>    <!--// Nombre //-->
                    <p><input type="text" name="name" id="nombreArticulo" value="<%=producto.name%>"></p>
                    
                    <p>
                        <label for="categoriaArticulo">Categoría del artículo: </label>
                        <select name="category">   <!--// Categoria //-->
                            <option value="Casual">Casual</option> 
                            <option value="Fiesta">Fiesta</option>
                            <option value="Sale">Sale</option>
                        </select>
                    </p>
                   
                    <p>
                        <label for="tipoArticulo">Tipo de artículo: </label> <!--// Tipo //-->
                        <select name="type">  
                        <option value="Sandalia">Sandalia</option>
                        <option value="Bota">Bota</option>
                        <option value="Borcego">Borcego</option>
                        <option value="Borcego">Botineta</option>
                        <option value="Zapato">Zapato</option>
                        <option value="Mule">Mule</option>
                    </select></p>
                    
                    <p>
                        <label for="talleArticulo">Talle de artículo: </label> <!--// Talle //-->
                        <select name="size">    
                            <option value="35">35</option> 
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                        </select>
                    </p>

                    <p>
                        <label for="colorArticulo">Color del artículo: </label> <!--// Color //-->
                        <select name="color">   
                        <option value="Negro">Negro</option> 
                        <option value="Marron">Marrón</option>
                        <option value="Blanco">Blanco</option>
                        <option value="Rojo">Rojo</option>
                        <option value="Oro">Oro</option>
                        <option value="Plata">Plata</option>
                    </select></p>
                    
                    <label for="descripcArticulo"></label>    <!--// Descripción //-->
                    <textarea name="description" id="descripcArticulo" cols="52" rows="4"><%=producto.description%></textarea>

                    <p>    <!--// Imagen //-->
                        <input type="file" name="imagenArticulo" accept="image/png, .jpeg, .jpg, image/gif"> 
                        <input type="submit" value="Subir Imagen">  
                    </p>

                    <label for="precioArticulo"></label>    <!--// Precio //-->
                    <p><input type="text" name="price" id="precioArticulo" value="<%=producto.price%>"></p>    

                    <button type="submit">Editar artículo</button>  <!--// Botón Editar producto //-->
                    
                    

                </form>
                <form action="/producto/<%=producto.id%>/eliminar?_method=DELETE" method="POST"> <!--// Botón Eliminar producto //-->
                    <button type="submit">Eliminar artículo</button> 
                </form>
            </section>
    
        </main>
        
        <%- include('../partials/footer') %>   <!--// partial Footer //-->
        
    </body>
</html>