<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Login'}) %>
    <body>
        
        <%- include('../partials/header') %>
        
        <main class="loginmain">
           
            <img src="/img/img_model_2.jpg" alt="imagen de una modelo" class="loginImage">

            <section class= "formulariologin">
                <h1 class="h1-size">Cambia tu contraseña</h1>

                <ul id="errors"></ul>

                <form action="/usuario/change-password" method="POST">
                    <p><label for="oldPassword">Contraseña actual: </label></p>
                    <p><input type="password" name="oldPassword" id="oldPassword"></p>
                    <p class="validationErrors"><%= typeof errors == 'undefined' ? '' : typeof errors.oldPassword == 'undefined' ? '' : errors.oldPassword.msg %></p>

                    <p><label for="newPassword">Nueva contraseña : </label></p>
                    <p><input type="password" name="newPassword" id="newPassword"></p>
                    <p class="validationErrors"><%= typeof errors == 'undefined' ? '' : typeof errors.newPassword == 'undefined' ? '' : errors.newPassword.msg %></p>

                    <p><label for="repeatNewPassword">Repetí la nueva contraseña : </label></p>
                    <p><input type="password" name="repeatNewPassword" id="repeatNewPassword"></p>
                    <p class="validationErrors"><%= typeof errors == 'undefined' ? '' : typeof errors.repeatNewPassword == 'undefined' ? '' : errors.repeatNewPassword.msg %></p>

                    <button id="button" type="submit">Confirmar</button>
                </form>

            </section>
            
        </main>
        
        <%- include('../partials/footer') %>

        <script src="/js/validNewPass.js" type="text/javascript"></script>

        
    </body>
</html>