<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Editar usuario'}) %>    <!--// Head //-->
    <body>
        
        <%- include('../partials/header') %>    <!--// Header //-->
        
        <main class="registermain">
            <div class="imageUs"> 
                <img src="/img/img_model_1.jpg" alt="imagen de una modelo" class="registerimage">
            </div>
    
            <section class= "formulariologin">
                <h1 class="h1-size">Editar datos - <%= loggedUser.first_name %> <%= loggedUser.last_name %> </h1>

                <ul id="frontErrors"></ul>
    
                <form action="/usuario/editar" method="POST" enctype="multipart/form-data" class="edituser-form">
                    <p><label for="first_name">Nombre : </label></p>
                    <p><input type="text" name="first_name" id="first_name" value="<%= typeof user == 'undefined' ? loggedUser.first_name : user.first_name %>"></p>
                    <p class="validationErrors"><%= typeof errors == 'undefined' ? '' : typeof errors.first_name == 'undefined' ? '' : errors.first_name.msg %></p>

                    <p><label for="last_name">Apellido : </label></p>
                    <p><input type="text" name="last_name" id="last_name" value="<%= typeof user == 'undefined' ? loggedUser.last_name : user.last_name %>"></p>
                    <p class="validationErrors"><%= typeof errors == 'undefined' ? '' : typeof errors.last_name == 'undefined' ? '' : errors.last_name.msg %></p>

                    <p><label for="email">Email : </label></p>
                    <p><input type="email" name="email" id="email" value="<%= typeof user == 'undefined' ? loggedUser.email : user.email %>"></p>
                    <p class="validationErrors"><%= typeof errors == 'undefined' ? '' : typeof errors.email == 'undefined' ? '' : errors.email.msg %></p>
                    
                    <% if (loggedUser && loggedUser.role.name == 'admin') { %>
                        <label for="role">Rol : </label>    <!--// Category //-->
                        <select name="role">
                            <% for (role of roles) { %>   
                                <% if (role.name == loggedUser.role.name) { %>
                                    <option value="<%= role.id %>" selected><%= role.name %></option>
                                <% } else { %>
                                    <option value="<%= role.id %>"><%= role.name %></option>
                                <% } %>    
                            <% } %>
                        </select>
                    <% } %>
                    
                    <!--// Imagen //-->
                    <p>   
                        <input type="file" name="image" id="image" accept="image/png, .jpeg, .jpg, image/gif"> 
                        <input type="submit" value="<%=typeof user == 'undefined' ? loggedUser.image : "Subir Imagen" %>" >  
                    </p>
                    <p class="validationErrors"><%= typeof errors == 'undefined' ? '' : typeof errors.image == 'undefined' ? '' : errors.image.msg %></p>                  
    
                    <p><label for="password">Ingrese su contraseña : </label></p>
                    <p><input type="password" name="password" id="password"></p>
                    <p class="validationErrors"><%= typeof errors == 'undefined' ? '' : typeof errors.password == 'undefined' ? '' : errors.password.msg %></p>

                    <button type="submit" id="ueButton">Actualizar datos</button>
                </form>
    
            </section>
    
        </main>
        
        <%- include('../partials/footer') %>    <!--// Footer //-->

        <script src="/js/validEditUser.js" type="text/javascript"></script>
    </body>
</html>