<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Tu perfil'}) %>   <!--// partial Head //-->
    <body>

        <%- include('../partials/header') %>   <!--// partial Header //-->
        
        <div style="margin-top: 40px;">
            <div class="centrar marg-nonside">
                <h1 class="font-bebas"><%= loggedUser.first_name %>  <%= loggedUser.last_name %></h1>
                <img src="/img/users/<%= loggedUser.image %>" width="20%">
                <br>
                <br>
                <div>
                    <h3 class="font-roboto"><%= loggedUser.email %></h3>
                </div>
            </div>

            <div class="centrar">
                <form action="/usuario/editar" method="GET" enctype="multipart/form-data">
                    <button type="submit" class="cursor-hand">Editar usuario</button>
                </form>
            </div>
            <div class="centrar marg-20">
                <form action="/usuario/eliminar?_method=DELETE" method="POST"> <!--// Botón Eliminar producto //-->
                    <button type="submit" class="cursor-hand">Eliminar usuario</button> 
                </form>
            </div>
        </div>

        <%- include('../partials/footer') %>   <!--// partial Footer //-->
        
    </body>
</html>