<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Registrate'}) %>    <!--// Head //-->
    <body>
        
        <%- include('../partials/header') %>    <!--// Header //-->
        
        <main class="registermain">
            <div class="imageUs">
                <img src="/img/img_model_1.jpg" alt="imagen de una modelo" class="registerimage">
            </div>

            <section class= "formulariologin">
                <h1 class="h1-size">¡Registrate!</h1>

                <form action="/usuario/registro" method="POST" enctype="multipart/form-data">
                    <p><label for="firstName">Nombre</label></p>
                    <p><input type="text" name="firstName" id="firstName" value="<%= typeof user == 'undefined' ? '' : user.firstName %>"></p>
                    <p class="validationErrors"><%= typeof errors == 'undefined' ? '' : typeof errors.firstName == 'undefined' ? '' : errors.firstName.msg %></p>

                    <p><label for="lastName">Apellido</label></p>
                    <p><input type="text" name="lastName" id="lastName" value="<%= typeof user == 'undefined' ? '' : user.lastName %>"></p>
                    <p class="validationErrors"><%= typeof errors == 'undefined' ? '' : typeof errors.lastName == 'undefined' ? '' : errors.lastName.msg %></p>
                    
                    <p><label for="email">Email:</label></p>
                    <p><input type="email" name="email" id="email" placeholder="Ej: maria@babieka.com" value="<%= typeof user == 'undefined' ? '' : user.email %>"></p>
                    <p class="validationErrors"><%= typeof errors == 'undefined' ? '' : typeof errors.email == 'undefined' ? '' : errors.email.msg %></p>
                    
                    <p><label for="password">Contraseña:</label></p>
                    <p><input type="password" name="password" id="password"></p>
                    <p class="validationErrors"><%= typeof errors == 'undefined' ? '' : typeof errors.password == 'undefined' ? '' : errors.password.msg %></p>
                    
                    <p><label for="repeatpassword">Repita su contraseña:</label></p>
                    <p><input type="password" name="repeatpassword" id="repeatpassword"></p>
                    <p class="validationErrors"><%= typeof errors == 'undefined' ? '' : typeof errors.repeatpassword == 'undefined' ? '' : errors.repeatpassword.msg %></p>
                   
                    <% if (loggedUser && loggedUser.role.name == 'admin') { %>
                        <label for="role">Categoria:</label>    <!--// Category //-->
                        <select name="role">   
                            <option value="5" selected>Cliente</option>
                            <option value="1">Manager</option>
                            <option value="2">Administrador</option> 
                            <option value="3">Programador</option>
                            <option value="4">Tester</option>
                        </select>
                    <% } else {%>
                        <p><label for="role" hidden>Categoria:</label></p>
                        <p><input type="text" name="role" id="role" value="5" hidden></p>
                    <% } %>

                    <p>    <!--// Imagen //-->
                        <input type="file" name="image" accept="image/png, .jpeg, .jpg, image/gif"> 
                        <input type="submit" value="Subir Imagen">  
                    </p>
                    <p class="validationErrors"><%= typeof errors == 'undefined' ? '' : typeof errors.image == 'undefined' ? '' : errors.image.msg %></p>                  
    
                    <button type="submit">Crear cuenta</button>
                </form>
    
            </section>
    
        </main>
        
        
        <%- include('../partials/footer') %>    <!--// Footer //-->
        
    </body>
</html>